<h1>About Teacher Joy</h1>
<br />

<div class="row">
  <div class="span3">
    <p>Teacher Joy was founded with the intention of allowing teachers more time to focus on teaching (and honestly more time at home with their families)</p>
  </div>
  <div class="span3">
    <p>By Using Teacher Joy, Teachers can automatically produce workseets and bingo activities for their classroom in a few simple clicks of the mouse</p>
  </div>
   <div class="span3">
    <p>We've helped teachers save time, engage students, and be more productive inside and outside the classroom. We hope you'll be joining us on this journey!</p>
  </div>
</div>


