<div class="hero-unit">
  <h1>Ready For More Free Time?</h1>
  <br />
  <div class="row">
    <div class="span6 offset2">
      <p>TeacherJoy automatically produces worksheets, tests, and class room activities with one click of a button.
      <%= link_to "Get Started!", signup_path, class: "btn btn-primary btn-large" %><br />
      <small>Less than 30 seconds, Free</small></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2 class="offset1">Save Time</h2>
      <p>Tired of recreating activities or trying to find one more activity to do with your students? Want worksheets, tests, and activities created instantly and perfectly each time?
        Let TeacherJoy put the joy back in teaching as you fill in your lesson plans, TeacherJoy goes to work helping you saving you time and helping you do what you do best. Teach!
      <p><%= link_to "Get Started!", signup_path, class: "btn btn-primary btn-mini" %><br /></p>
  </div>
  <div class="span6">
    <h2 class="offset1">Teach Better</h2>
      <p>Teaching is hard enough already. And, as you already know, Teaching isn't just about the students, but about the parents, other teachers, and administration all pulling you in different
      directions. We help you teach better, by allowing you to focus on the teaching and not the creation of activities. You're a teacher, and each evening your shouldn't be grading papers, or putting together
      one more activity for your students. That's what teacherjoy does!
      <p><%= link_to "Get Started!", signup_path, class: "btn btn-primary btn-mini" %><br /></p>
  </div>
</div>







