<div class="row">
<div class="span6">
  <h3>Time to Create your First Set</h3>
  <p>A set is a container for questions you'd like to group together. They might "American Presidents of the 20th century" or "Fun Facts About Mammals".
  Don't worry too much about getting this part right. You can always edit it later.</p>
  <p>Student Count is how many students you'll be printing off worksheets for. You can change this later, but usually it's best to do a few more than you think you'll need</p>
</div>
    <div class="span">
    <%= render 'create_set' %>
</div>
</div>